clash/
nvim/.vim/
yarn/global/node_modules
[?*]/.DS_Store/
.DS_Store
coc/extensions/
raycast/
nvim/lazy-lock.json
fanyi/searchHistroy.txt
solana/
exercism/
op/
zed/prompts
github-copilot/
nushell/**/history*
nix-darwin/flake.lock
mole/